@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increment</button>

<button class="btn btn-primary" @onclick="DecrementCount">Decrement</button>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount = currentCount +1
        



        ;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
